<div>
  <form [formGroup]="editForm">
    <div class="form-group">
        <label>ID:</label>
        <input type="text" formControlName="id" class=form-control readonly>
      <label>firstName</label>
      <input type="text" formControlName="firstName" class="form-control"
        [ngClass]="{ 'is-invalid':submitted && firstName.errors }" />
      <div *ngIf="firstName.errors" class="invalid-feedback">
        <div *ngIf="firstName.errors.required">firstName is required</div>
        <div *ngIf="firstName.errors.minlength">firstName must be at least 2 characters</div>
        <div *ngIf="firstName.errors.maxlength">firstName must be max 35 characters</div>
        <div *ngIf="firstName.errors.pattern">Pattern is wrong</div>
      </div>
    </div>
    <div class="form-group">
      <label>lastName</label>
      <input type="text" formControlName="lastName" class="form-control"
        [ngClass]="{ 'is-invalid':submitted && lastName.errors }" />
      <div *ngIf="lastName.errors" class="invalid-feedback">
        <div *ngIf="lastName.errors.required">lastName is required</div>
        <div *ngIf="lastName.errors.minlength">lastName must be at least 2 characters</div>
        <div *ngIf="lastName.errors.maxlength">lastName must be max 35 characters</div>
        <div *ngIf="lastName.errors.pattern">Pattern is wrong</div>
      </div>
    </div>
    <div class="form-group">
      <label>Address</label>
      <input type="text" formControlName="address" class="form-control"
        [ngClass]="{ 'is-invalid':submitted && address.errors }" />
      <div *ngIf="address.errors" class="invalid-feedback">
        <div *ngIf="address.errors.required">address is required</div>
        <div *ngIf="address.errors.minlength">address must be at least 10 characters</div>
        <div *ngIf="address.errors.maxlength">address must be less than 50 characters</div>
        <div *ngIf="address.errors.pattern">Pattern is wrong</div>
      </div>
    </div>

    <div class="form-group">
      <label>City</label>
      <input type="text" formControlName="city" class="form-control"
        [ngClass]="{ 'is-invalid':submitted && city.errors }" />
      <div *ngIf="city.errors" class="invalid-feedback">
        <div *ngIf="city.errors.required">city is required</div>
        <div *ngIf="city.errors.minlength">city must be at least 5 characters</div>
        <div *ngIf="city.errors.maxlength">city must be less than 50 characters</div>
        <div *ngIf="city.errors.pattern">Pattern is wrong</div>
      </div>
    </div>

    <div class="form-group">
      <select formControlName="state" class="form-control">
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DE">Delaware</option>
        <option value="DC">District Of Columbia</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="ID">Idaho</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="IA">Iowa</option>
        <option value="KS">Kansas</option>
        <option value="KY">Kentucky</option>
        <option value="LA">Louisiana</option>
        <option value="ME">Maine</option>
        <option value="MD">Maryland</option>
        <option value="MA">Massachusetts</option>
        <option value="MI">Michigan</option>
        <option value="MN">Minnesota</option>
        <option value="MS">Mississippi</option>
        <option value="MO">Missouri</option>
        <option value="MT">Montana</option>
        <option value="NE">Nebraska</option>
        <option value="NV">Nevada</option>
        <option value="NH">New Hampshire</option>
        <option value="NJ">New Jersey</option>
        <option value="NM">New Mexico</option>
        <option value="NY">New York</option>
        <option value="NC">North Carolina</option>
        <option value="ND">North Dakota</option>
        <option value="OH">Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="UT">Utah</option>
        <option value="VT">Vermont</option>
        <option value="VA">Virginia</option>
        <option value="WA">Washington</option>
        <option value="WV">West Virginia</option>
        <option value="WI">Wisconsin</option>
        <option value="WY">Wyoming</option>
      </select>

    </div>

    <div class="form-group">
      <label>Zip</label>
      <input type="username" formControlName="zip" class="form-control"
        [ngClass]="{ 'is-invalid':submitted && zip.errors }" />
      <div *ngIf="zip.errors" class="invalid-feedback">
        <div *ngIf="zip.errors.required">zip is required</div>
        <div *ngIf="zip.errors.minlength">zip must be at least 5 characters</div>
        <div *ngIf="zip.errors.maxlength">zip must be max 9 characters</div>
        <div *ngIf="zip.errors.pattern">Pattern is wrong</div>
      </div>

    </div>

    <div class="form-group">
      <label>Home Phone</label>
      <input type="username" formControlName="homePhone" class="form-control"
        [ngClass]="{ 'is-invalid':submitted && homePhone.errors }" />
      <div *ngIf="homePhone.errors" class="invalid-feedback">
        <div *ngIf="homePhone.errors.required">homePhone is required</div>
        <div *ngIf="homePhone.errors.minlength">homePhone must be 10 characters</div>
        <div *ngIf="homePhone.errors.maxlength">homePhone must be 10 characters</div>
        <div *ngIf="homePhone.errors.pattern">Pattern is wrong</div>
      </div>

    </div>

    <div class="form-group">
      <label>Cell Phone</label>
      <input type="username" formControlName="cellPhone" class="form-control"
        [ngClass]="{ 'is-invalid':submitted && cellPhone.errors }" />
      <div *ngIf="cellPhone.errors" class="invalid-feedback">
        <div *ngIf="cellPhone.errors.required">cellPhone is required</div>
        <div *ngIf="cellPhone.errors.minlength">cellPhone must 10 characters</div>
        <div *ngIf="cellPhone.errors.maxlength">cellPhone must be 10 characters</div>
        <div *ngIf="cellPhone.errors.pattern">Pattern is wrong</div>
      </div>

    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="username" formControlName="email" class="form-control"
        [ngClass]="{ 'is-invalid':submitted && email.errors }" />
      <div *ngIf="email.errors" class="invalid-feedback">
        <div *ngIf="email.errors.required">email is required</div>
        <div *ngIf="email.errors.minlength">email must be at least 10 characters</div>
        <div *ngIf="email.errors.maxlength">email must be max 50 characters</div>
        <div *ngIf="email.errors.pattern">Pattern is wrong</div>
      </div>

    </div>

    <div class="form-group">
      <button type="button" [disabled]="loading" class="btn btn-primary" (click)="editEmployee()"> Save</button>
      <button type="button" [disabled]="loading" class="btn btn-primary" (click)="cancel()">Cancel</button>
    </div>
  </form>


</div>
